* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

// Mixins
@mixin center {
    display: flex;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    grid-template-rows: 150px 1fr;
    font-family: 'Roboto';
    .sidebar {
        background-color: #1e293b;
        grid-column: 1 / 2;
        grid-row: 1/ 3;
        padding-top: 20px;
        padding-left: 20px;
        color: white;
        display: grid;
        grid-template-rows: auto auto 1fr;
        .logo {
            width: 100%;
            height: 20px;
            @include center();
            font-size: 1.5rem;
            gap: 5px;
            padding-right: 20px;
        }
        padding-top: 1rem;
        ul {
            padding-top: 1rem;
            li {
                padding: .5rem;
                display: flex;
                align-items: center;
                gap: 15px;
            }
        }
    }
}

.header {
    background-color: pink;
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
    .header-1 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        // background-color: brown;
        align-items: center;
        padding: 10px;
        padding-left: 40px;
        .search {
            @include center();
            gap: 5px;
            input[type="search"] {
                width: 90%;
                height: 2rem;
                border-radius: 2rem;
                outline: none;
                border: none;
                padding: 10px 20px;
            }
        }
        .header-info {
            @include center();
            justify-content: center;
            gap: 20px;
            .info-prof-pic {
                width: 40px;
                border-radius: 50%;
            }
            .info-username {
                font-size: 1.2rem;
                font-weight: 550;
            }
        }
    }
    .header-2 {
        // background-color: yellow;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        align-items: center;
        padding-left: 40px;
        .user {
            display: flex;
            align-items: center;
            gap: 10px;
            .info-prof-pic {
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }
            .username-info {
                .greeting {
                    font-size: .8rem;
                }
                .username {
                    font-size: 1.3rem;
                }
            }
        }
        .controls {
            display: flex;
            gap: 2rem;
            justify-content: flex-end;
            padding-right: 5rem;
            .control {
                background-color: red;
                color: white;
                width: 5rem;
                height: 2.5rem;
                padding: 5px;
                border: none;
                border-radius: 20px;
                font-size: 1rem;
            }
        }
    }
}

.main-content {
    background-color: green;
    grid-column: 2 / 5;
}